<v-flex class="login__form" :class="loginError ? '' : 'move-in'">
    <v-card class="pa-2 elevation-2">
        <v-layout justify-center="justify-center">
            <v-icon class="login__icon" color="info">account_circle</v-icon>
        </v-layout>
        <v-layout justify-center="justify-center">
            <h1 class="display-2 font-weight-light grey--text">Login</h1>
        </v-layout>
        <v-form @submit.prevent="handleSubmit" v-model="valid">
            <v-card-text v-show="loginError">
                <v-alert :value="true" type="error">
                    {{ loginError }}
                </v-alert>
            </v-card-text>
            <v-card-text>
                <v-text-field id="merchantID" v-model="merchantID" :rules="validations.merchantID" name="merchantID" label="Merchant ID" type="text"></v-text-field>
                <v-text-field id="password" v-model="password" :rules="validations.password" name="password" label="Password" type="password"></v-text-field>
                <v-layout row="row">
                    <v-flex>
                        <v-switch label="Remember me" color="info" value="info" hide-details="hide-details"></v-switch>
                    </v-flex>
                </v-layout>
            </v-card-text>
            <v-card-actions class="login__actions">
                <v-btn type="submit" :disabled="!valid" class="login__btn" color="info" block light large>
                    Sign in
                </v-btn>
            </v-card-actions>
        </v-form>
        <v-card-text>
            <a class="info--text" href="#">Need help?</a>
        </v-card-text>
    </v-card>
</v-flex>