.sellers {
    &__loader {
        height: calc(100vh - 200px);
    }
}

.product{
    &__thumbnail {
        display: block;
        margin: 0 auto;
        padding: 8px;
    }
}

.simple-fade-enter-active, .simple-fade-leave-active {
    transition: opacity .3s ease;
  }
  .simple-fade-enter, .simple-fade-leave-to
  /* .component-fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }