.login {
    background: url("../../assets/corporate_op.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
        opacity: 0.5;
    }

    &__brand {
        max-height: 50px;
    }

}

.slide-to-left {
    transform: translateX(-400%);
    opacity: 0;
	animation-name: slideToLeft;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes slideToLeft {
	0% {
        opacity: 1;
        transform: translateX(0);
	}
	100% {
        opacity: 0;
        transform: translateX(-400%);
	}
}

.component-fade-enter-active {
    transition: all .3s ease;
}
.component-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.component-fade-enter, .component-fade-leave-to
    /* .component-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}

// /* base */
// .company {
//     backface-visibility: hidden;
//     z-index: 1;
//   }
  
//   /* moving */
//   .company-move {
//     transition: all 600ms ease-in-out 50ms;
//   }
  
//   /* appearing */
//   .company-enter-active {
//     transition: all 400ms ease-out;
//   }
  
//   /* disappearing */
//   .company-leave-active {
//     transition: all 200ms ease-in;
//     position: absolute;
//     z-index: 0;
//   }
  
//   /* appear at / disappear to */
//   .company-enter,
//   .company-leave-to {
//     opacity: 0;
//   }